* {
	font-size: 16px;
}

:root {
	--bg-color: rgba(43,26,35,1); 
	--prim-color: rgba(93,162,101,1);
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: var(--bg-color);
	font-family: 'Fira Sans', sans-serif;
}

.container {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	height : 10%;
	border-radius: 10% 10% 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: var(--bg-color);
	padding-top: .5rem;
}

#text {
	font-size: 3rem;
	color: var(--prim-color);
	padding: 2.5rem 0rem 1.5rem 0rem; 	
}

#bigbutton {
	border-style: none;
	border-radius: 20%;
	padding: 1.5rem;
	color: var(--prim-color);
	background-color: darkgrey;
	font-weight: 500;
}

#bigbutton:hover {
	padding: 1.75rem;
	border-radius: 25%;
	background-color: rgba(213,65,42,1);
	color: white;
	font-weight: 700;
}

#license {
	padding: .5rem;
	display: flex;
}

#source {
	border-style: none;
	border-radius: 30%;
	background-color: black;
}

.material-symbols-outlined {
	color: var(--bg-color);
}

#source:hover {
	background-color: white;
} 

#author {
	padding: .5rem;
}
